### Recap
- countries
- populations

In [1]:
countries = ['Pakistan', 'India', 'China', 'Iran', 'Afghanistan']
population = [0.5, 1.15, 1.12, 0.45, 0.56]

Q: What is the population of afghanistan?

In [3]:
countries.index('Afghanistan')

4

In [4]:
population[4]

0.56

In [5]:
population[countries.index('Afghanistan')]

0.56

This way of extracting values is not adaptable because:
- Not convenient
- Not intutive

Solution is **Dictionaries**

In [6]:
countries_pop = {'Pakistan': 0.5, 'India': 1.15, 'China': 1.12, 'Iran': 0.45, 'Afghanistan':  0.56}

In [7]:
countries_pop['Afghanistan']

0.56

## Dictionaries
- Accept different type
- Keys have to be "immutable" objects ->> Error
- add values
- edit value
- **in** Keyword
- delete any element

In [8]:
countries_pop = {['Pakistan', 'India', 'China', 'Iran', 'Afghanistan']: 0.5,
                 'India': 1.15, 'China': 1.12, 'Iran': 0.45, 'Afghanistan':  0.56}

TypeError: unhashable type: 'list'

## List vs Dictionaries

List: Sample collection in one list
Dictionaries: Not Scalable
Excel: limited number of rows, not scalable

## Introudction to Pandas
- ##### Question: How can we store that data in python ? 
- Numpy Array (absolutely **NO** because in Numpy we save data of same type)

### Answer:  Pandas 
- high level  data manipulation
- Wes Mckinney
- built on Numpy
- Data Frame
- special concept of Series

## Case Study: population dataset of BRICS countries
- NOTE:
   - key (columns, label)
   - values(data, column by column)

In [11]:
!pip install pandas

Requirement already satisfied: pandas in c:\anaconda\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\anaconda\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### CREATING DATAFRAME

bricks = {"country": ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
         "capital": ['Brazilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
         "area": [8.516, 17.100, 3.286, 9.597, 1.221],
         "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]}

In [12]:
import pandas as pd

In [13]:
bricks = {"country": ['Brazil', 'Russia', 'India', 'China', 'South Africa'],
         "capital": ['Brazilia', 'Moscow', 'New Delhi', 'Beijing', 'Pretoria'],
         "area": [8.516, 17.100, 3.286, 9.597, 1.221],
         "population": [200.40, 143.50, 1252.00, 1357.00, 52.98]}

In [14]:
df = pd.DataFrame(bricks)

In [15]:
df

        country    capital    area  population
0        Brazil   Brazilia   8.516      200.40
1        Russia     Moscow  17.100      143.50
2         India  New Delhi   3.286     1252.00
3         China    Beijing   9.597     1357.00
4  South Africa   Pretoria   1.221       52.98

change index values `df.index = []`

In [16]:
df.index = ['BR', 'RU', 'IN', 'CH', 'SA']

In [17]:
df

         country    capital    area  population
BR        Brazil   Brazilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

#### another way to create DATAFRAME is through csv (comma seperated files)

assume we have **'bricks.csv'** file in our directory

In [22]:
bricks_csv = pd.read_csv('./dataset/bricks.csv')
bricks_csv

  Unnamed: 0       country    capital    area  population
0         BR        Brazil   Brasilia   8.516      200.40
1         RU        Russia     Moscow  17.100      143.50
2         IN         India  New Delhi   3.286     1252.00
3         CH         China    Beijing   9.597     1357.00
4         SA  South Africa   Pretoria   1.221       52.98

In [23]:
bricks_csv = pd.read_csv('./dataset/bricks.csv', index_col=0)
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [24]:
bricks_csv = pd.read_csv('./dataset/bricks.csv', index_col=0, header=0)
bricks_csv

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

### index and select data
- square brakets (type--> series) & double squrae brakets (type --> DataFrame)
- advance methods
    - loc
    - iloc

In [25]:
bricks_csv['country'] # cloumn slicing Method 1 [With Space in Column Names we use []  ]

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [26]:
bricks_csv.country # cloumn slicing Method 2

BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

In [27]:
type(bricks_csv['country'])

pandas.core.series.Series

In [29]:
bricks_csv[['country']] # -> list as An array for DataFrame type

         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

In [30]:
type(bricks_csv[['country']])

pandas.core.frame.DataFrame

In [32]:
bricks_csv[['country', 'capital', 'population']]

         country    capital  population
BR        Brazil   Brasilia      200.40
RU        Russia     Moscow      143.50
IN         India  New Delhi     1252.00
CH         China    Beijing     1357.00
SA  South Africa   Pretoria       52.98

### Question What if we want specific columns and rows ?
###### Key points about [ ] square brakets

- square bralets have limited functionality
- ideally 
    - Remember **2D Numpy array** in numpy
    - ``my_arr[row, col]``
- pandas
    - ``loc``(label based)
    - ``iloc`` (index based)

In [35]:
# rows as pandas series `[]` & dataframe `[[]]`
bricks_csv.loc['BR']

country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object

In [36]:
bricks_csv.loc['BR', 'RU', 'IN']

IndexingError: Too many indexers

In [37]:
bricks_csv.loc[['BR', 'RU',]]

   country   capital    area  population
BR  Brazil  Brasilia   8.516       200.4
RU  Russia    Moscow  17.100       143.5

In [38]:
# specific rows more than one
bricks_csv.loc['BR': 'IN']

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [41]:
# specific rows and columns
bricks_csv.loc[['BR', 'IN'], 'country': 'capital']

   country    capital
BR  Brazil   Brasilia
IN   India  New Delhi

In [43]:
# specific rows with all column
bricks_csv.loc['RU', :]

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [6]:
# try slicing with it

#### Quick Recap

- Square brakets

    - column access --> ``bricks.csv[['country', 'capital']]``
    - row access (only through slicing) --> ``bricks_csv[1:4]``
    
- loc(label-based) remeber ``arr[rows, columns]``

    - row access --> ``bricks_csv.loc[['BR', 'IN']]``
    - columns access --> ``bricks_csv.loc[:['country', 'capital']]``
    - both rows and columns --> <br>
    ``bricks_csv.loc[['BR', 'IN'], ['country', 'capital']]``

### Accessing values with iloc[]

In [49]:
bricks_csv.iloc[1]

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [50]:
bricks_csv.iloc[1:5] # specific rows with all cloumns

         country    capital    area  population
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [51]:
bricks_csv.iloc[1:3]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0

In [48]:
bricks_csv.iloc[1:3, 2:4] # specific rows with specific cloumns

      area  population
RU  17.100       143.5
IN   3.286      1252.0

In [52]:
finaldf = bricks_csv.iloc[1:3, :]

In [53]:
finaldf.to_csv('./dataset/finaldf-classend.csv')